<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/g/pure@0.6.0,animatecss@3.5.1"/>
     <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header id="menu-button" class="expanded">
      <a><i class="icon icon-list"></i></a>
    </header>
    {{> aside}}
    <main>
      <section id="search-results"></section>
      <section class="content">
        {{{body}}}
        {{> footer}}
      </section>
    </main>
    {{ghost_foot}}
    <script src='https://cdn.jsdelivr.net/lettering/0.7.0/jquery.lettering.min.js' type="text/javascript" charset="utf-8"></script>
    <script src="{{asset "js/uno-zen.js"}}" type="text/javascript" charset="utf-8"></script>
    {{> google-analytics}}
  </body>
</html>
